/*------------------------------------*\
    $RESET
\*------------------------------------*/
@import url("normalize.css");

/*------------------------------------*\
    $TIPOGRAFIA
\*------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,500italic,400);
@import url(https://fonts.googleapis.com/css?family=Righteous);

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #262930;
    color: #FFFFFF;
}

header {
    background: #E2E4E8;
    height: 80px;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

button {
    color: black;
    margin: 0;
}

    table {
        border: 1px solid red;
        height: 342px;
    }
    
    tr, td {
        border: 1px solid white;
        min-width: 20px;
        min-height: 20px;
    }

    .tableroDeJuego {
        border: 1px solid red;
        width: 50%;
        height: 342px;
        min-width: 40%;
    }
.aspiradora {
    background-image: url(../img/aspiradora.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
}
.container--opt {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 0 0 10px;
}
.opt {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 160px;
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
}
.opt--nivel { margin-top: 10px;}
.opt--botones {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    min-height: 40px;
}
.opt--container--movimientos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
    justify-content: space-around;
    align-items: center;
}
/* Imágenes que controlan los movimientos. */
.izquierda, .ariba, .derecha, .abajo {
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: 25px 25px;*/
    background-size:contain;
}
.izquierda { background-image: url(../img/mov-izq.PNG);}
.arriba { background-image: url(../img/mov-arriba.PNG);}
.derecha { background-image: url(../img/mov-dcha.PNG);}
.abajo { background-image: url(../img/mov-abajo.png);}

    .opt--movimientos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:space-around;
        align-self: center;
        align-items: center;
    }
    
        .opt--movimientos img {
            cursor: pointer;
            width: 100%;
        }
    
    .tableroMovimientos {
        margin: 10px 0 0 0;
        width: 93%;
    }

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    opacity: .9;
}
    .container--item {
        display: flex;
        /* vertical center */
        align-items: center;
        /* horizontal center */
        justify-content: center;
    }
h1 a {
    text-decoration: none;
    color: #262930;
}

    